@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.header-container{
    height: 80px !important;
    border-radius: 50px;
    background-color: #4373e4 !important;
}
.header{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-tag-line{
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.login-container{
    width: 400px;
    margin: 60px 0px 0px 600px;
}
.register-container{
    width: 500px;
    margin-top: 30px;
}
.homepage-content .navbar-brand, .homepageuser-content .navbar-brand{
    font-size: 40px !important;
    margin-left: 20px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homepage-nav, .homepageuser-nav{
    border-bottom: 1px solid black;
    border-radius: 25px;
}
.homepage-nav .header-nav-items{
    margin-left: 250px;
}
.homepageuser-nav .header-nav-items{
    margin-left: 400px;
}
.header-nav-items a{
    font-size: 27px;
    color: #4373e4  !important;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-nav-items a:hover, a:active{
    color: #e94cb5 !important;
}
.homepage-nav .header-nav-items .logout{
    font-size: 27px;
    margin-left: 350px;
    color: #4373e4 !important;
    padding: 4px;
    margin-top: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homepageuser-nav .header-nav-items .logout{
    font-size: 27px;
    margin-left:490px;
    color: #4373e4 !important;
    padding: 4px;
    margin-top: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-nav-items .logout:hover{
    color: #e94cb5 !important;
}
.users-table, .products-table{
    width: 1000px;
    border: 2px solid #dee2e6;
}
.inventory-table{
    width: 600px;
    border: 2px solid #dee2e6;
}
.requests-table{
    width: 800px;
}
.loader{
    color: #4373e4;
    font-size: 25px;
    margin-left: 615px;
}